@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INVENTARIO APP</h1>
    <p class="lead">Aplicación Inventario que permite la entrada de nuevos productos y tambien la actualizacion de stock al momento de agregar o hacer una venta.</p></div>
    